/*=============================================================================================================
Reset y Configuracion base
================================================================================================================ */

* {
    box-sizing: border-box;
    /* outline: 1px solid rgba(255,0,0,0.2); */
}

html{
    font-size: 100%;
}

body{
    display: grid;
    overflow-x: hidden;
    background-color: gainsboro;
    margin:0;
    font-size: 1rem;
    line-height: 1.6;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}
/* ==========================================================================
Variables y utilidades
========================================================================== */

:root{
    --fuente1: "Gravitas One", serif;
    --fuente2: "Oswald", sans-serif;




    --bordes-redondeados-botones: 20px  ;
    --bordes-marcados: 0.25px solid gray;

    --color-sombra: 2px solid rgb(36, 35, 35);
    --sombra: 0 4px 10px rgba(0,0,0,0.2);

}
/*=================================================================================================================
Layout
=================================================================================================================*/

/*--------
HEADER 
----------*/
.header {
    display: flex;
    justify-content: center;
}

.titulo-principal{
    font-family: var(--fuente2);
    font-weight: 400;
    font-style: normal;  
}

.descripcion{
    display: flex;
    justify-content: center;
    font-family: var(--fuente2);
}

/*--------
SECCION DE BOTONES
----------*/

.botones-seccion{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.boton-descripcion{
    font-family: var(--fuente2);
}

.botones-contenedor{
    display: flex;
    justify-content: center;
    
}

.botones{
    display: flex;
    list-style: none;
    gap: 1rem;
    padding: 0;
    margin: 0;
}

.generador-contenedor{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    padding: 0%;
}

.boton{
    border-radius: var(--bordes-redondeados-botones);
    border: 2px solid rgba(0,0,0,0.20);
    padding: 0.7rem 1.2rem;
    background-color: white;
    cursor: pointer;
    transition: 0.2s;
    font-family: var(--fuente2);
    font-size: 1.2rem;
}

.boton-seleccionado{
    background-color: black;
    color: white;
}

.boton:active{
    transform: scale(0.97);
}

.boton-generador{
    flex-wrap: wrap; gap: 10px; 
    background-color: black;
    color: white;
}

.tipo-botones{
    display: flex;
    list-style: none;
    gap: 1rem;
    padding: 0;
    margin: 0;
    
}

.boton-formato-seleccionado{
    background-color: black;
    color: white;
}

.contenedor-boton-generador{
    display: flex;
    gap: 1rem;
    padding: 0;
    margin: 0;
}

/*--------
Paletas 
----------*/

.paleta{
    display: grid;
    grid-template-columns: repeat(3, 200px);

    justify-content: center;

    gap: 1rem;
    padding: 1rem;
}
.tarjeta-color{
    border-radius: var(--bordes-redondeados-botones);
    font-family: var(--fuente2);
    transition: 0.3s;
    background-color: white;
    border: var(--bordes-marcados);
    padding: 0.7rem;
    font-size: 0.9rem;
    animation: aparecer 0.5s ease;
}

.tarjeta-color p{
    margin: 0.4rem 0;
}

.tarjeta-color:hover{
    transform: scale(1.02);
    box-shadow: var(--sombra);
}

.color{
    height: 90px;
    border-radius: 15px;
    border: var(--bordes-marcados);
}

.codigo{
    border-radius: var(--bordes-redondeados-botones);
    background-color: rgba(0,0,0,0.05);
    padding-left: 10px;
    transition: 0.3s;

    cursor: pointer;
} 

.codigo:hover {
    background-color: rgba(0,0,0,0.2);
    transform: scale(1.02);

}

@keyframes aparecer {

    from{
        opacity: 0;
        transform: translateY(20px);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }

}
/*--------
FOOTER
---------- */

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--fuente2);
    background-color: black;
    color: white;
    width: 100%;
    padding: 15px 0;
}

/*--------
TOAST
----------*/

.toast{
    position: fixed;
    bottom: 20px;
    
    left: 50%;
    transform: translateX(-50%);

    background-color: black;
    color: white;

    padding: 1rem;
    border-radius: 15px;

    opacity: 0;
    transition: 0.5s;

    font-family: var(--fuente2);
}

.toast-mostrar{
    opacity: 1;
}

/*=================================================================================================================
Responsive
=================================================================================================================*/

/*--------
CELULAR
----------*/
button{
    outline: none;
    border: none;
}

@media (max-width: 600px){
    .paleta{
    grid-template-columns: repeat(2, 1fr);
    }

    .toast{
        text-align: center;
        padding: 1rem;
    }
    .footer{
        text-align: center;
        padding: 1rem;
    }
}